@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
width: 12px; 
height: 12px; 
}


html::-webkit-scrollbar-thumb {
background-color: var(--primary-color-light-2); 
border-radius: 6px; 
}


html::-webkit-scrollbar-vertical{
width: 12px; 
height: 12px; 
}

html::-webkit-scrollbar-thumb:vertical  {
background-color: var(--primary-color-light-2);
}

html::-webkit-scrollbar-thumb:hover{
background-color: var(--primary-color-light-2); 
}

:root{
  /* Color */
  --body-color: #fafdff;
  --text-light-color: #ffff;
  --primary-color: #4285F4;
  --th-color: #c5dafc;
  --hijau-color: #92fca4;
  --hijau-dark-color: #40d15b;
  --merah-color: #FCAEAE;
  --merah-dark-color: #f84747;
  --kuning-color: #ffdf81;
  --kuning-dark-color: #ffc002;
  --biru-color: #A6F6FF;
  --biru-dark-color: #1ed5e9;
  --primary-color-light: #FAFAFA;
  --primary-color-light-2: #ececec;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --text-color: #292A2A;
  --stroke-color: #ddd;
  --stroke-color-draken:#898989;
  --footer-bg: #1f282e;
  --footer-color: #8995a1;
  --hover-table: #dddddd;

  /* transition */
  --tran-01: all 0.1s ease;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  background-color: var(--body-color);
  transition: var(--tran-04);
}

.container-header {
  width: 100%;
  height: 85px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-bg);
}

.invent .logo .logo-text{
  color: var(--text-color);
}
.navlink{
  padding: 20px;
  display: flex;
  align-items: center;
}
.navlink a{
  background-color: var(--footer-bg);
  color: var(--body-color);
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.navlink a:hover{
  color: var(--primary-color);
}

.navlink a::after{
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary-color);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navlink a:hover::after{
  transform: scaleX(0.5);
}
.navlink #logout i{
  margin-right: 5px;
}
.logo{
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo .logo-image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 35px;
}
.logo .logo-image img {
  width: 100%;
}
.logo p{
  background-color: var(--primary-color);
  color: var(--primary-color);
  margin-left: 25px;
  margin-right: 10px;
}
.logo .logo-text{
  color: var(--body-color);
  font-weight: 700;
  font-size: 25px;
}
.text-header {
  position: absolute;
  top: 150px; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  font-weight: 700; 
  color: var(--body-color); 
  font-size: 20px;
  width: 50%;
  font-weight: 700;
}
.text-header h1{
  font-size: 3vw; 
}

.thumbnail{
  display: flex;
  justify-content: center;
  width: auto;
  color: var(--text-color);
  background-color: var(--body-color);
  box-shadow: 0px 4px 4px 0px var(--color-shadow);
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  gap: 50px;
}
.thumbnail-img img{
  width: 50%;
}
.thumbnail-img img{
  width: 100%;
}
.thumbnail-text{
  margin-top: 0;
  margin-bottom: 80px;
  width: 50%;
  color: var(--text-color);
  background-color: var(--primary-color-light-2);
  box-shadow: 0px 4px 4px 0px var(--color-shadow);
  padding: 20px;
  border-radius: 15px;
}
.thumbnail-text h2{
  font-size: 30px;
}
.thumbnail-text p{
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 500;
}
.thumbnail-text a{
  background-color: var(--primary-color);
  color: var(--body-color);
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
}

.antrian{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 100px;
}
.antrian a{
  background-color: var(--merah-dark-color);
  color: var(--body-color);
  font-weight: 500;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 20px;
}

.antrian .edit-btn{
  background-color: var(--primary-color);
  color: var(--body-color);
  font-weight: 500;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 20px;
}

.layanan {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.layanan .judul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.layanan .judul h1{
  font-size: 2.5em;
}
.layanan .judul p{
  font-size: 1.2em;
}

.layanan .form {
  background-color: var(--primary-color-light-2);
  box-shadow: 0px 4px 4px 0px var(--color-shadow);
  padding: 20px;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.layanan .form p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

input[type="submit"]:hover {
  border-color: var(--primary-color);
  transition: 0.5s;
}

input[type="submit"] {
  width: 100px;
  height: 35px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}

input[type="reset"] {
  width: 100px;
  height: 35px;
  border: 1px solid;
  background: red;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="reset"]:hover {
  border-color: red;
  transition: 0.5s;
}

.services{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  width: auto;
  color: var(--text-color);
  background-color: var(--body-color);
  box-shadow: 0px 4px 4px 0px var(--color-shadow);
  padding: 20px;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.services .service-list li{
  width: auto;
  color: var(--text-color);
  background-color: var(--primary-color-light-2);
  box-shadow: 0px 4px 4px 0px var(--color-shadow);
  padding: 20px;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-container {
  max-height: 400px; 
  overflow-y: auto; 
  overflow-x: auto;
  background-color: var(--primary-color-light-2);
  box-shadow: 0px 4px 4px 0px var(--color-shadow);
  padding: 20px;
  width: 100%;
  border-radius: 15px;
}
.table-container h1{
  text-align: center;
  margin-bottom: 20px;
}
.table-container table {
  width: 100%;
  border-collapse: collapse;
}
.table-container tbody tr:nth-child(odd) {
  background-color: var(--body-color); 
}

.table-container tbody tr:nth-child(even) {
  background-color: var(--primary-color-light-2); 
}

.table-container tbody tr:hover {
  background-color: var(--hover-table); /* Warna latar belakang saat baris dihover */
}

.table-container td {
  padding: 8px; /* Ruang dalam sel */
  text-align: center; /* Pusatkan teks dalam sel */
}


/* Style untuk scroller horizontal */
.table-container::-webkit-scrollbar {
width: 12px; /* Lebar scroller */
height: 12px; /* Tinggi scroller */
}

/* Style untuk badan scroller horizontal */
.table-container::-webkit-scrollbar-thumb {
background-color: var(--primary-color-light-2); /* Warna badan scroller */
border-radius: 6px; /* Bentuk badan scroller */
}

/* Style untuk scroller vertikal */
.table-container::-webkit-scrollbar-vertical {
width: 12px; /* Lebar scroller */
height: 12px; /* Tinggi scroller */
}

/* Style untuk badan scroller vertikal */
.table-container::-webkit-scrollbar-thumb:vertical {
background-color: var(--primary-color-light-2); /* Warna badan scroller */
border-radius: 6px; /* Bentuk badan scroller */
}

/* Style untuk scroller saat dihover */
.table-container::-webkit-scrollbar-thumb:hover {
background-color: var(--primary-color-light-2); /* Warna badan scroller saat dihover */
}

/* footer */
footer{
  display: flex;
  flex-direction: column;
  background-color: var(--footer-bg);
  color: var(--footer-color);
  padding: 20px;
  padding-top: 30px;
  margin-top: 50px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
.logo-footer{
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
}
.logo-footer img{
  margin-right: 10px;
  width: 3%;
}
.logo-footer p{
  text-align: center;
  background-color: var(--primary-color);
  margin-right: 10px;
  color: var(--primary-color);
}
.logo-footer span{
  font-size: 20px;
  font-weight: 700;
  color: var(--text-light-color);
}
.logo-footer span.psiko{
  font-size: 20px;
  font-weight: 500;
}
.content-footer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 50px;
}
@media screen and (max-width: 567px){
  .logo-footer{
      justify-content: start;
  }
  .footer-top{
      flex-direction: column;
      align-items: start;
      gap: 30px;
  }
  .content-footer{
      flex-direction: row;
      width: 100%;
  }
}
@media (max-width:456px){
  .footer-top{
      flex-direction: column;
      align-items: start;
  }
  .content-footer{
      flex-direction: column;
  }
}
.content-footer span{
  font-size: 15px;
}
.footer-bot{
  display: flex;
  justify-content: center;
  text-align: start;
  margin-top: 50px;
}
footer h4{
  margin-bottom: 10px;
}
footer .contact,
footer .about,
footer .social-media{
  display: flex;
  flex-direction: column;
}
footer a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-light-color);
}
footer a i{
  margin-right: 5px;
}
footer .about{
  width: 100%;
}
.copyright{
  text-align: center;
  font-size: 13px;
  background-color: var(--footer-bg);
  color: var(--text-light-color);
}